<div class="gas-stations">

  <div class="gas-stations__form">
    {{ data.form }}
  </div>

  <div class="gas-stations__info" id="gas-stations-table">
    <table class="table table-striped table-dark d-none">
      <thead>
        <tr>
        <th>
          {{ 'Town' | t }}
        </th>
        <th>
          {{ 'Address' | t }}
        </th>
        <th>
          {{ 'Gas station name' | t }}
        </th>
        <th>
          {{ 'Diesel A' | t  }}
        </th>
        <th>
          {{ 'Gasoleo B' | t  }}
        </th>
        <th>
          {{ 'Sin Plomo 95' | t  }}
        </th>
        <th>
          {{ 'Sin Plomo 98' | t  }}
        </th>
      </tr>
      </thead>
     <tbody></tbody>
    </table>
  </div>

</div>